   .conteiner img {
    width: 110px;
    position: relative;
    left: 100px;
   }

   .conteiner {
    position: relative;
    top: -35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .texts {
    position: absolute;
    left: 300px;
    display: flex;
    align-items: center;
   }
   
   .input {
    display: flex;
    align-items: center;
   }

   #registro {
    position: absolute;
    left: 1050px;
   }

   #entrar {
    position: absolute;
    left: 1200px;
   }

   hr {
    position: relative;
    top: -60px;
   }